Source: i2p-apt-cacher-ng
Section: unknown
Priority: optional
Maintainer: idk <hankhill19580@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/eyedeekay/i2p-apt-cacher-ng
Vcs-Git: https://github.com:eyedeekay/i2p-apt-cacher-ng.git
Vcs-Browser: https://github.com/eyedeekay/i2p-apt-cacher-ng

Package: i2p-apt-cacher-ng
Architecture: all
Depends: ${misc:Depends}, i2p | i2pd, tor
Description: Automatic configuration of debian proxy on i2p
 apt-installable configuration of apt-cacher-ng set up to help provide and
 install i2p software currently available from the clearnet, or at least that's
 the plan. It won't be "done" for at least another two months, because it needs
 split configs.
